*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.475);
    z-index: 999;
    animation: fromTop 2s ease-in-out;
}

@keyframes fromTop {
    0%{
        transform: translateY(-70px);
    }
    100%{
        transform: translateY(0px);
    }
    
}

.wrap-img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-links{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.wrap-links a{
    text-decoration: none;
    color: rgb(1, 1, 150);
    font-weight: bold;
    transition: all 200ms ease-in-out;
}

.wrap-links a:hover{
    text-decoration: underline;
    color: rgb(0, 110, 255);
}

.logo{
    width: 70px;
    height: 70px;
}

#s1{
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./Images/back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fromLeft 2s ease-in-out;
}

@keyframes fromLeft {
    0%{
        transform: translateX(-100px) rotate(360deg);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}

.right{
    width: 350px;
    animation: fromRight 2s ease-in-out;
}

@keyframes fromRight {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}

.wrap-banner{
    border-radius: 999px;
    overflow: hidden;
    width: 400px;
    height: 400px;
}

.wrap-banner img{
    width: 400px;
    height: 400px;
    filter: grayscale(1);
    transition: all 200ms ease-in-out;
}

.wrap-banner img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

.right h1{
    font-size: 40px;
    width: 100%;
    font-family: "Brush Script MT", cursive;
    color: green;
}

.right p{
    font-size: 18px;
    width: 100%;
}

#s2{
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    background-image: url('./Images/back.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card{
    width: 230px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./Images/textura.jpg');
}

.card img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.card h3{
    font-family: 'Wild West Shadow', sans-serif;
    color: rgb(255, 216, 90);
}

.card p{
    color: rgb(255, 255, 255);
}

#s3{
    min-height: 100vh;
    width: 100%;
    padding-top: 50px;
    background-image: url('./Images/back2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#s3 iframe{
    width: 1080px;  
    height: 576px;  
    max-width: 90vw; 
}

.wrap-video{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#s4{
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url('./Images/back3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap-cart img{
    width: 400px;
    height: 500px;
    filter: grayscale(1);
    border-radius: 10%;
    border: 2px solid black;
    transition: 200ms all ease-in-out;
}

.wrap-cart img:hover{
    transform: scale(1.2);
    filter: grayscale(0);
}

.title{
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

.up{
    font-size: 18px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.down{
    margin-top: 30px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (width <= 768px){
    nav{
        flex-direction: column;
        height: auto;
        padding-bottom: 15px;
    }
    .wrap-links a{
        text-align: center;
    }

    #s1{
        flex-direction: column;
        padding-top: 130px;
    }

    .left{
        width: 100%;
    }

    .right{
        width: 100%;
        text-align: center;
    }
    .wrap-banner{
        width: 250px;
        height: 250px;
    }
    .wrap-banner img{
        width: 250px;
        height: 250px;
    }

    #s3{
    min-height: 50vh;
    height: auto;
    width: 100%;
}

#s3 iframe{
    width: 100%;
}
#s4{
    min-height: 50vh;
    height: auto;
    width: 100%;
}

#s4 img{
    width: 200px;
    height: 300px;
}
}